<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools">
    <application android:label="AUREA · TESTE UI" tools:replace="android:label">
        <activity android:name="com.aurea.aurea.MainActivity" tools:node="merge">
            <intent-filter tools:node="removeAll" />
        </activity>
        <activity android:name="com.aurea.aurea.editor.UiReviewActivity" android:exported="true" android:label="AUREA · TESTE UI">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
